.header {
  /* position: fixed; */
  z-index: 1;
  width: 100%;
}

.logo {
  height: 60px;
  width: 120px;
  display:inline-block;
  /* width:8% !important; */
  margin-right: 20px;
  margin-left: -20px;
}
