.header {
  z-index: 1;
  width: 100% !important;
  /* padding: 0; */
}

.logo {
  height: 60px;
  width: 120px;
  /* display:inline-block; */
  margin-right: 20px;
  /* margin-left: -20px; */
  margin-bottom: 3px;
}

.logoutMenu {
  float: right !important;
}

#SubMenu3\$Menu > li {
  text-align: center;
}

.flagButton {
  float:right;
  background-color: transparent;
  background: transparent;
  color: transparent;
}

.lang {
  width: 50px;
  height: 30px;
  margin-top: 14px;
}
#root > section > div > header > button {
  background: transparent;
  color: transparent;
  border-color: transparent !important;
}