.timeInput {
    width: 45px;
    text-align: center;
}

.summaryRow {
    background-color: whitesmoke;
}

.notFilled {
    color: #d9d9d9 !important;
}

.timesheet-date-picker .ant-picker-clear {
    visibility: hidden;
}

.previewPicker {
    float: right;
}

.horizontal-space {
    width: 100%;
}