<html>

<body>
    <div>
        <header>
            <div>
                <h3>Faktura VAT</h3>
                <h4>Nr faktury {{ invoice_no }}</h4>
            </div>
        </header>

        <div>
            <div>
                <h4>Sprzedawca</h4>
                <p>{{ v.name }}</p>
                <p>{{ v.street_with_number}}</p>
                <p>{{ v.zip_code }} {{ v.city }}</p>
                <p>NIP: {{ v.tax_id }}</p>
            </div>

            <div>
                <h4>Nabywca</h4>
                <p>{{ cr.client.name }}</p>
                <p>{{ cr.client.street_with_number}}</p>
                <p>{{ cr.client.zip_code }} {{ cr.client.city }}</p>
                <p>NIP: {{ cr.client.tax_id }}</p>
            </div>

        </div>

        <table>
            <thead>
                <tr>
                    <th>Lp.</th>
                    <th>Nazwa towaru lub usługi</th>
                    <th>J.m.</th>
                    <th>Ilość</th>
                    <th>Cena netto</th>
                    <th>Wartość netto</th>
                    <th>Stawka VAT</th>
                    <th>Kwota VAT</th>
                    <th>Wartość brutto</th>
                </tr>
            </thead>

            {% set count = namespace(value=0) %}

            {% for pr in cr.project_reports %}
            {% for ur in pr.user_reports %}
            {% for par in ur.project_assignment_reports %}

            {% set count.value = count.value + 1 %}
            <tr>
                <td>{{ count.value }}</td>
                <td>
                    <p>{{ ur.user.name }}</p>
                </td>
                <td>godziny</td>
                <td>{{ par.total_duration | hours | rounded_decimal }}</td>
                <td>{{ par.project_assignment.hourly_rate | rounded_decimal }}</td>
                <td>{{ par.total_cost | rounded_decimal }}</td>
                <td>{{ (v.vat_rate * 100) | rounded_integer}}%</td>
                <td>{{ (par.total_cost * v.vat_rate) | rounded_decimal }}</td>
                <td>{{ (par.total_cost * v.vat_rate + par.total_cost) | rounded_decimal }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
            <tr>
                <td colspan="8">Razem za projekt {{ pr.project.name }}:</td>
                <td>{{ (pr.total_cost * v.vat_rate + pr.total_cost) | rounded_decimal }}</td>
            </tr>
            {% endfor %}

            <tfoot>
                <tr>
                    <td colspan="8"><strong>Razem:</strong></td>
                    <td><strong>{{ (cr.total_cost * v.vat_rate + cr.total_cost) | rounded_decimal }} {{cr.client.currency | currency }}</strong></td>
                </tr>
            </tfoot>

        </table>

        <div>
            <h4>Podsumowanie</h4>
            <div>
                <p>Razem do zapłaty: <strong>{{ (cr.total_cost * v.vat_rate + cr.total_cost) | rounded_decimal }} {{cr.client.currency | currency }}</strong></p>
                <p>Zapłacono: <strong>{{ 0 | rounded_decimal }} {{cr.client.currency | currency }}</strong></p>
                <p>Pozostało do zapłaty: <strong>{{ (cr.total_cost * v.vat_rate + cr.total_cost) | rounded_decimal }} {{cr.client.currency | currency }}</strong></p>
            </div>
        </div>
</body>

</html>
